body {
  background-color: #e8e8e8;
}
.welcome {
  padding: 106.3px 0 131.3px 0;
  max-width: 841px;
  margin: 0px auto;

  background: url(/images/Ellipse\ 1\ copy.png);
}
.welcom___travel {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 50px;
  font-weight: normal;
  margin: 0 0 18px 0;
  text-align: center;
  color: #a3abae;
  letter-spacing: 2.8px;
}
.welcome___text {
  font-size: 36px;
  line-height: 50px;
  font-weight: normal;
  max-width: 725px;
  color: #273d46;
  margin: 0px auto 78px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
.images {
  border: solid 8px white;
  margin: 0 0 92.7px 0;
}
.botom {
}
.botom___text {
  font-size: 24px;
  line-height: 40px;
  font-weight: normal;
  font-family: "Times New Roman", Times, serif;
  color: #4e6067;
  letter-spacing: 1.5px;
}
.botom___text p {
  padding: 15px;
}
.botom___list li {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 0 0 35px;
  margin: 0 0 18px 0;
  background: url(/images/icon/check.svg) left no-repeat;
  list-style-type: none;
  font-size: 20px;
}
.botom___list li:nth-child(1) {
  color: #273d46;
}
.botom___list li:nth-child(2) {
  color: #80b7b3;
}
.botom___list li:nth-child(3) {
  color: #273d46;
}
.botom___list li:nth-child(4) {
  color: #aeb4b7;
  text-decoration: line-through;
}
.botom___button {
  margin-top: 35px;
}
.botom___button span {
  margin: 0 10px 0 0;
  line-height: 44px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1.5px;
  color: #ffffff;
}
.botom___button a {
  text-decoration: none;
  padding: 5px 20px;
  box-shadow: 0 5px 1px black;
  background-color: #80b7b3;
  display: inline-block;
  border-radius: 20px;
}
.botom___button img {
  margin: 15px 0 0 0;
}
.botom___button :hover {
  background-color: #608f8b;
}
.botom___button :active {
  background-color: #608f8b;
  box-shadow: 0 2px 1px black;
  position: relative;
  top: 3px;
}
